SIPT.DAL/Connected Services/ServiceSicu/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.security.gandalfsoft.com.pe/" targetNamespace="http://ws.security.gandalfsoft.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarfecacceso" type="tns:actualizarfecacceso" />
  <xs:element name="actualizarfecaccesoResponse" type="tns:actualizarfecaccesoResponse" />
  <xs:element name="buscarCorreosUsuarios" type="tns:buscarCorreosUsuarios" />
  <xs:element name="buscarCorreosUsuariosResponse" type="tns:buscarCorreosUsuariosResponse" />
  <xs:element name="listarAreas" type="tns:listarAreas" />
  <xs:element name="listarAreasResponse" type="tns:listarAreasResponse" />
  <xs:element name="listarUsuariosPorAplicacion" type="tns:listarUsuariosPorAplicacion" />
  <xs:element name="listarUsuariosPorAplicacionResponse" type="tns:listarUsuariosPorAplicacionResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="loginTest" type="tns:loginTest" />
  <xs:element name="loginTestResponse" type="tns:loginTestResponse" />
  <xs:element name="logout" type="tns:logout" />
  <xs:element name="logoutResponse" type="tns:logoutResponse" />
  <xs:element name="obtenerDatosAreas" type="tns:obtenerDatosAreas" />
  <xs:element name="obtenerDatosAreasResponse" type="tns:obtenerDatosAreasResponse" />
  <xs:element name="obtenerIdOpcion" type="tns:obtenerIdOpcion" />
  <xs:element name="obtenerIdOpcionJson" type="tns:obtenerIdOpcionJson" />
  <xs:element name="obtenerIdOpcionJsonResponse" type="tns:obtenerIdOpcionJsonResponse" />
  <xs:element name="obtenerIdOpcionResponse" type="tns:obtenerIdOpcionResponse" />
  <xs:element name="obtenercontroles" type="tns:obtenercontroles" />
  <xs:element name="obtenercontrolesResponse" type="tns:obtenercontrolesResponse" />
  <xs:element name="realizarCambioDeClave" type="tns:realizarCambioDeClave" />
  <xs:element name="realizarCambioDeClaveApp" type="tns:realizarCambioDeClaveApp" />
  <xs:element name="realizarCambioDeClaveAppResponse" type="tns:realizarCambioDeClaveAppResponse" />
  <xs:element name="realizarCambioDeClaveResponse" type="tns:realizarCambioDeClaveResponse" />
  <xs:element name="registraractividad" type="tns:registraractividad" />
  <xs:element name="registraractividadResponse" type="tns:registraractividadResponse" />
  <xs:element name="solicitarCambioDeClave" type="tns:solicitarCambioDeClave" />
  <xs:element name="solicitarCambioDeClaveResponse" type="tns:solicitarCambioDeClaveResponse" />
  <xs:element name="usuariobaja" type="tns:usuariobaja" />
  <xs:element name="usuariobajaResponse" type="tns:usuariobajaResponse" />
  <xs:element name="validarControl" type="tns:validarControl" />
  <xs:element name="validarControlResponse" type="tns:validarControlResponse" />
  <xs:complexType name="registraractividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
      <xs:element minOccurs="0" name="opcion" type="xs:string" />
      <xs:element minOccurs="0" name="control" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:string" />
      <xs:element minOccurs="0" name="param" type="xs:string" />
      <xs:element minOccurs="0" name="tipoexcepion" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="stacktrace" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registraractividadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="securityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="datAuxDatoDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vchAuxDatoString" type="xs:string" />
      <xs:element minOccurs="0" name="vchmensaje" type="xs:string" />
      <xs:element minOccurs="0" name="vchstatus" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCorreosUsuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="listaVchusulogin" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarCorreosUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:securityUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="securityUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:securityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="xs:int" />
          <xs:element minOccurs="0" name="intaplcodigo" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaSecurityOption" nillable="true" type="tns:securityOption" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaUltimosAccesosValidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaUltimosIntentosFallidos" nillable="true" type="xs:string" />
          <xs:element name="masDatosUser">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="nombreArea" type="xs:string" />
          <xs:element minOccurs="0" name="usucodigo" type="xs:string" />
          <xs:element minOccurs="0" name="usuestado" type="xs:string" />
          <xs:element minOccurs="0" name="vchcorreousuario" type="xs:string" />
          <xs:element minOccurs="0" name="vchsessionid" type="xs:string" />
          <xs:element minOccurs="0" name="vchusulogin" type="xs:string" />
          <xs:element minOccurs="0" name="vchusunombre" type="xs:string" />
          <xs:element minOccurs="0" name="vchusurol" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="securityOption">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:securityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="intopccodigo" type="xs:int" />
          <xs:element minOccurs="0" name="intopccodigopadre" type="xs:int" />
          <xs:element minOccurs="0" name="intopcnivel" type="xs:int" />
          <xs:element minOccurs="0" name="intopcorden" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listaSecurityControl" nillable="true" type="tns:securityControl" />
          <xs:element minOccurs="0" name="vchopcaccion" type="xs:string" />
          <xs:element minOccurs="0" name="vchopcdescrip" type="xs:string" />
          <xs:element minOccurs="0" name="vchopcnombre" type="xs:string" />
          <xs:element minOccurs="0" name="vchopctipo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="securityControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="intconcodigo" type="xs:int" />
      <xs:element minOccurs="0" name="intopccodigo" type="xs:int" />
      <xs:element minOccurs="0" name="vchcondescripcion" type="xs:string" />
      <xs:element minOccurs="0" name="vchconnombre" type="xs:string" />
      <xs:element minOccurs="0" name="vchcontipoDescrip" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarControl">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
      <xs:element minOccurs="0" name="opcion" type="xs:string" />
      <xs:element minOccurs="0" name="control" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validarControlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="sistema" type="xs:string" />
      <xs:element minOccurs="0" name="ipuser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarfecacceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarfecaccesoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarCambioDeClave">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solicitarCambioDeClaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIdOpcionJson">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOpcionText" type="xs:string" />
      <xs:element minOccurs="0" name="sistema" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIdOpcionJsonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logout">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logoutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenercontroles">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
      <xs:element minOccurs="0" name="opcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenercontrolesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosPorAplicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="vchaplsigla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosPorAplicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:securityUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="sistema" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginTestResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="realizarCambioDeClaveApp">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="claveanterior" type="xs:string" />
      <xs:element minOccurs="0" name="nuevaclave" type="xs:string" />
      <xs:element minOccurs="0" name="ipuser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="realizarCambioDeClaveAppResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariobaja">
    <xs:sequence>
      <xs:element minOccurs="0" name="sessionid" type="xs:string" />
      <xs:element minOccurs="0" name="usuariobaja" type="xs:string" />
      <xs:element minOccurs="0" name="docbajatipo" type="xs:string" />
      <xs:element minOccurs="0" name="docbajanumero" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuariobajaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDatosAreas">
    <xs:sequence>
      <xs:element minOccurs="0" name="intorgcodigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDatosAreasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:scuorganigrama" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scuorganigrama">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:sysTabla">
        <xs:sequence>
          <xs:element minOccurs="0" name="gentablaVchorgtipo" type="tns:gentabla" />
          <xs:element minOccurs="0" name="intorgcodigo" type="xs:int" />
          <xs:element minOccurs="0" name="intorgcodigo_his" type="xs:int" />
          <xs:element minOccurs="0" name="intorgcodigopadre" type="xs:int" />
          <xs:element minOccurs="0" name="intorgnivel" type="xs:int" />
          <xs:element minOccurs="0" name="intorgorden" type="xs:int" />
          <xs:element minOccurs="0" name="scuorganigramaIntorgcodigopadre" type="tns:scuorganigrama" />
          <xs:element minOccurs="0" name="tmsaudfeccreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionfin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodif" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodiffin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodifini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vchaudequipo" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudprograma" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusucreacion" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusumodif" type="xs:string" />
          <xs:element minOccurs="0" name="vchestado" type="xs:string" />
          <xs:element minOccurs="0" name="vchorgnombre" type="xs:string" />
          <xs:element minOccurs="0" name="vchorgsigla" type="xs:string" />
          <xs:element minOccurs="0" name="vchorgtipo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="sysTabla">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadRegistros" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ordenListaCampos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordenTipo" type="xs:string" />
      <xs:element name="params">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="xs:anyType" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gentabla">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:sysTabla">
        <xs:sequence>
          <xs:element minOccurs="0" name="gentipoVchtipcodigo" type="tns:gentipo" />
          <xs:element minOccurs="0" name="intregorden" type="xs:int" />
          <xs:element minOccurs="0" name="tmsaudfeccreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionfin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodif" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodiffin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodifini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vchaudequipo" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudprograma" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusucreacion" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusumodif" type="xs:string" />
          <xs:element minOccurs="0" name="vchestado" type="xs:string" />
          <xs:element minOccurs="0" name="vchregabreviado" type="xs:string" />
          <xs:element minOccurs="0" name="vchregcodigo" type="xs:string" />
          <xs:element minOccurs="0" name="vchregcodigo_his" type="xs:string" />
          <xs:element minOccurs="0" name="vchregdescri" type="xs:string" />
          <xs:element minOccurs="0" name="vchtipcodigo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="gentipo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:sysTabla">
        <xs:sequence>
          <xs:element minOccurs="0" name="tmsaudfeccreacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionfin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfeccreacionini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodif" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodiffin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="tmsaudfecmodifini" type="xs:dateTime" />
          <xs:element minOccurs="0" name="vchaudequipo" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudprograma" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusucreacion" type="xs:string" />
          <xs:element minOccurs="0" name="vchaudusumodif" type="xs:string" />
          <xs:element minOccurs="0" name="vchestado" type="xs:string" />
          <xs:element minOccurs="0" name="vchtipcodigo" type="xs:string" />
          <xs:element minOccurs="0" name="vchtipcodigo_his" type="xs:string" />
          <xs:element minOccurs="0" name="vchtipdescripcion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="realizarCambioDeClave">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="codigocambio" type="xs:string" />
      <xs:element minOccurs="0" name="nuevaclave" type="xs:string" />
      <xs:element minOccurs="0" name="ipuser" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="realizarCambioDeClaveResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:securityResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIdOpcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="idOpcionText" type="xs:string" />
      <xs:element minOccurs="0" name="sistema" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerIdOpcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAreas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAreasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:scuorganigrama" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>